<h4>Lista studentów</h4>

<div>
    <button (click)="searchStudents()" class="btn btn-primary">Wyszukaj z serwera</button>
    <button (click)="switchView()" class="btn btn-success">Przełącz widok</button>
</div>

<table *ngIf="isListVisible == false" class="table table-hover">
    <thead>
        <tr>
            <th>Id studenta</th>
            <th>Imię i nazwisko</th>
            <th>Adres email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" 
            [ngClass]="{'table-danger':student.id > 7,
            'table-warning': student.name == 'Leanne Graham'}">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="isListVisible == true">
    <div *ngFor="let student of students">
        <p><strong>imię i nazwisko:</strong>{{student.name}}</p>
        <p><strong>email:</strong>{{student.email}}</p>
    </div>
</div>