<h4>Lista studentów</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id studenta</th>
            <th>Imię i nazwisko</th>
            <th>Adres email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
        </tr>
    </tbody>
</table>

<div *ngFor="let student of students">
    <p><strong>imię i nazwisko:</strong>{{student.name}}</p>
    <p><strong>email:</strong>{{student.email}}</p>
</div>
