<app-navigation-custom></app-navigation-custom>

<!-- 
<h1 *ngIf="isHeadersVisible == true">Nagłowek {{paragraphText}}</h1>
<h2 *ngIf="isHeadersVisible == false">Nagłowek 2</h2>
<p>Tekst: {{paragraphText}}</p>
<button class="btn btn-primary"
(click)="clickBtn()"
>Test</button>

<button 
(click)="getBackText()"
class="btn btn-success">Test2</button>

<button 
(click)="showHeaders()"
class="btn btn-danger">
Pokaż nagłówki
</button> -->
<div style="margin-left:50px;margin-top:20px">
    <router-outlet></router-outlet>
</div>



